body {
	max-width: 1000px;
	min-width: 475px;
	margin: auto;
	font-family: 'Space Mono', monospace;
	background-color: white;
}

main {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

header {
	display: flex;
	color: ghostwhite;
	font-size: 1.2em;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	height: 65px;
}

#bigNav h1, #bigNav ul {
	margin: 0.5em;
}

header h1 {
	padding-left: 0.5em;
}

#bigNav ul {
	display: flex;
	list-style: none;
	padding: 0;
}

#bigNav li {
	padding: 1em;
	font-weight: bold;
}

#bigNav a {
	font-family: 'Space Mono', monospace;
	color: ghostwhite;
	text-decoration: none;
}

#mobileNav {
	display: flex;
	flex-direction: column;
}

#mobileNav img {
	height: 60px;
	cursor: pointer;
	float: right;
}

#mobileNavContainer {
	height: 100%;
}

#mobileNav li {
	list-style-type: none;
	margin-right: 1em;
	
}

#smallNav {
	display: none;
}

#mobileNav a {
	font-family: 'Space Mono', monospace;
	color: ghostwhite;
	text-decoration: none;
}

#about {
	display: block;
}

#about img {
	width: 250px;
	height: auto;
	margin: 1em;
	border-radius: 15px;
}

.aboutMeContainer {
	display: flex;
	width: 100%;
	align-items: center;
	/*flex-direction: column;*/
}

.aboutMeTextContainer {
	display: block;
	margin: 1em;
	font-family: helvetica;
	font-size: 1.2em;
	margin-bottom: 0;
}

#projects {
	margin: 1.3em;
	margin-top: 0;
}

#projects li {
	list-style-type: disc;
	font-weight: bold;
	font-size: 1.1em;
	margin: 0.7em;
}

#dogFightDetails {
	display: none;
	font-family: helvetica;
	font-size: 1.1em;
}

#dogFightDetails img {
	height: 450px;
	border: solid 1px black;
}

#dogFightName {
	cursor: pointer;
}

#skills h2 {
	margin: 1em;
}

#skills img {
	height: 80px;
	margin-left: 1.3em;
}

footer {
	text-align: center;
	background-color: black;
	color: ghostwhite;
}

@media only screen and (min-width: 898px) {
	#mobileNav {
		display: none;
	}
}

@media only screen and (max-width: 897px) {
	.aboutMeContainer {
		flex-direction: column;
		align-items: flex-start;
	} #bigNav ul {
		display: none;
	} #mobileNav {
		display: inline-block;
	}
}